.face {
    height: 5em;
    width: 5em;
    outline: black 2px solid;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.face > div {
    height: 82%;
    width: 82%;
    display: grid;
    justify-items: center;
    align-items: center;
}

.face.one > div > :global(.pip) {
    width: 1.5em;
    height: 1.5em;
}

.g22 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.face.two > div :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.face.two > div :nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}

.face.two > div > :global(.pip) {
    width: 1.2em;
    height: 1.2em;
}

.g33 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.g33 > :global(.pip) {
    width: 1em;
    height: 1em;
}

.face.three > div :nth-child(1) {
    grid-column: 1;
    grid-row: 1;
}

.face.three > div :nth-child(2) {
    grid-column: 2;
    grid-row: 2;
}

.face.three > div :nth-child(3) {
    grid-column: 3;
    grid-row: 3;
}

.face.three > div > :global(.pip) {
    width: 1em;
    height: 1em;
}

.face.four > div :global(.pip) {
    width: 1em;
    height: 1em;
}

.face.five > div :global(.pip) {
    width: 1em;
    height: 1em;
}

.face.five > div :nth-child(2) {
    grid-column: 3;
    grid-row: 1;
}

.face.five > div :nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.face.five > div :nth-child(4) {
    grid-column: 1;
    grid-row: 3;
}

.face.five > div :nth-child(5) {
    grid-column: 3;
    grid-row: 3;
}

.face.six > div :global(.pip) {
    width: 1em;
    height: 1em;
}

.face.six > div {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.face.seven > div :nth-child(2) {
    grid-column: 3;
}

.face.seven > div :nth-child(7) {
    grid-column: 3;
}

.face.seven > div :global(.pip) {
    width: 1em;
    height: 1em;
}

.face.eight > div :nth-child(5) {
    grid-column: 3;
}
